version: "3.8"

services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: MySQL
      MYSQL_DATABASE: eco_books
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./backend/migrations/01-user.sql:/docker-entrypoint-initdb.d/01-user.sql
      - ./backend/migrations/02-book.sql:/docker-entrypoint-initdb.d/02-book.sql
      - ./backend/migrations/03-cart.sql:/docker-entrypoint-initdb.d/03-cart.sql
      - ./backend/migrations/04-order.sql:/docker-entrypoint-initdb.d/04-order.sql
      - ./backend/migrations/05-payment.sql:/docker-entrypoint-initdb.d/05-payment.sql
      - ./backend/migrations/inserts.sql:/docker-entrypoint-initdb.d/inserts.sql

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_PORT: 3306
      DB_NAME: eco_books
      DB_USER: root
      DB_PASS: MySQL
      APP_PORT: 3000
    depends_on:
      - db
    volumes:
      - ./backend:/app
    command: sh -c "sleep 10 && npm start"

  frontend:
    build: ./frontend
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=production
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    command: npm start

volumes:
  db_data: